.boxes {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 0.5rem;
    @include media('md') {
        gap: 1rem;
    }
    &__item {
        background-color: $color-primary;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border-radius: 15px;
        border: 3px solid $color-quaternary;
        overflow: hidden;
        width: 48%;
        margin-bottom: 0.5rem;
        padding: 2rem 1rem 1rem;
        text-align: center;
        @include media('md') {
            width: 48.5%;
        } 
        @include media('lg') {
            flex: 1 1 22%;
        }
        &:hover {
            transition: background-color 0.35s, transform 0.35s;
            background-color: $color-secondary;
            transform: translateY(-0.5rem);
            .boxes__icon svg {
                transition: color 0.35s;
                color: $color-white;
            }
            .boxes__title {
                transition: color 0.35s;
                color: $color-white;
            }
            .boxes__content {
                transition: color 0.35s;
                color: $color-white;
            }
        }
    }
    &__icon {
        margin-bottom: 2rem;
        svg {
            color: $color-white;       
        }
    }
    &__img {
        width: 33%;
        height: auto;
        border-radius: 15px;
    }
    &__title {
        color: $color-white;
        font-size: $fs-sm;
        font-weight: $fw-5;
        margin-bottom: 1rem;
        @include media('sm') {
            font-size: $fs-md;
        }
    }
    &__content {
        color: $dark-text-secondary;
    }
}