.btn {
    &--primary {
        @include link {
            color: $color-white;
            background-color: $color-primary;
            text-transform: uppercase;
            letter-spacing: 0.075rem;
            font-weight: $fw-5;
            padding: 0.5rem 2.4rem;
            border-radius: 1rem;
            border: 3px solid $color-quaternary;
        }
        @include hover {
            color: $color-white !important;
            background-color: darken($color-secondary, 0%) !important;
            border: 3px solid $color-quaternary !important;
        }
    }

    &--secondary {
        @include link {
            color: $color-white;
            background-color: $color-secondary;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: $fw-5;
            border-radius: 0;
            padding: 0.5rem 2.4rem;
        }
        @include hover {
            color: $color-white !important;
            background-color: darken($color-secondary, 5%) !important;
        }
    }

    &--tertiary {
        @include link {
            color: $color-black;
            background-color: $color-tertiary;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: $fw-5;
            border-radius: 0;
            padding: 0.5rem 2.4rem;
        }
        @include hover {
            color: $color-black !important;
            background-color: darken($color-tertiary, 5%) !important;
        }
    }
    &--face {
        @include link {
            color: $color-white;
            background-color: $color-facebook;
            text-transform: uppercase;
            letter-spacing: 0.075rem;
            font-weight: $fw-5;
        }
        @include hover {
            color: $color-white !important;
            background-color: darken($color-facebook, 10%) !important;
        }
    }
    &--whats {
        @include link {
            color: $color-white;
            background-color: $color-whatsapp;
            text-transform: uppercase;
            letter-spacing: 0.075rem;
            font-weight: $fw-5;
        }
        @include hover {
            color: $color-white !important;
            background-color: darken($color-whatsapp, 10%) !important;
        }
    }
}