.schedules {
    padding: 0rem 0 4rem;
    background-color: $color-primary;
}

.accordion__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__column {
        width: 100%;
        @include media('md') {
            width: 49%;
            margin: 1rem 0 1rem;
        }
        &:nth-child(2) {
            background-color: #f0f8ff;// Fondo azul claro
            border-left: 4px solid #FFA500;// Borde naranja lateral
            padding: 2rem;
            border-radius: 0 1rem 1rem 0;
            box-shadow: 0 2px 10px rgba(0, 51, 102, 0.1);
        }
    }
    &__img {
        width: 100%;
    }
    &__list {
        @include reset-list;
        margin-top: 2rem;
        font-size: $fs-sm;
    }
    &__item {
        margin-bottom: 1rem;
        color: $color-secondary;
        &__icon {
            width: 20px;
            height: 20px;
            margin-right: 1rem;
            color: $color-primary;
        }
    }
    &__title {
        font-size: $fs-md;
        margin-bottom: 0;
        font-weight: $fw-6;
        color: $color-primary
    }
    &__subtitle {
        font-size: $fs-md;
        color: $color-primary;
        font-weight: $fw-6;
        margin-bottom: 1rem;
    }
    &__days {
        color: $color-primary;
        font-weight: $fw-6;
    }
    &__time {
        color: $color-primary;
        font-weight: $fw-6;
    }
    &__price {
        color: $color-tertiary;
        font-weight: $fw-6;
        font-size: $fs-md;
    }
}